<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <!-- SQL Dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Create/update tables automatically from mappings (when needed) -->
    <property name="hibernate.hbm2ddl.auto">create-drop</property>

    <!-- Fixes issue with @GeneratedValue AUTO mode -->
    <property name="hibernate.id.new_generator_mappings">false</property>

    <!-- Database Connection Settings -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://mysql2.csse.canterbury.ac.nz/seng302-2018-team700-test</property>
    <property name="hibernate.connection.username">seng302-team700</property>
    <property name="hibernate.connection.password">FormulaCadres2252</property>

    <!-- Debug Output -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>
    <property name="generate_statistics">false</property>


    <!-- Specifying Session Context -->
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

    <!-- Mapping With Model Class Containing Annotations -->
    <mapping class="seng302.Client"/>
    <mapping class="seng302.TransplantRequest"/>
    <mapping class="seng302.MedicationRecord"/>
    <mapping class="seng302.IllnessRecord"/>
    <mapping class="seng302.ProcedureRecord"/>
    <mapping class="seng302.Clinician"/>
  </session-factory>
</hibernate-configuration>
