.list-view {
  -fx-padding: 3px;
  -fx-background-color: transparent;
}

.list-cell {
  -fx-padding: 2px;
  -fx-background-color: transparent, -fx-background;
  -fx-background-insets: 2px, 4px;
}

.list-cell:empty {
  -fx-padding: 2px;
  -fx-background-color: transparent;
  -fx-background-insets: 0;
}