/* TODO fix the missing border when using context-menu inside the choice-box*/

.context-menu {
  -fx-skin: "com.humanharvest.organz.skin.MTContextMenuSkin";
}

.combo-box {
  -fx-skin: "com.humanharvest.organz.skin.CustomMTComboBoxListViewSkin";
}

.date-picker {
  -fx-skin: "com.humanharvest.organz.skin.MTDatePickerSkin";
}

/* All below are defaults from TuioFX. All above are custom */

.button,
.button:focused {
  -fx-skin: "com.humanharvest.organz.skin.MTButtonSkin";
}

#key-button {
  -fx-skin: "com.humanharvest.organz.skin.MTKeyboardButtonSkin";
  -fx-background-color: #d3e9ff !important;
}

.scroll-pane {
  -fx-skin: "org.tuiofx.widgets.skin.MTScrollPaneSkin";
}

.check-box {
  -fx-skin: "org.tuiofx.widgets.skin.MTCheckBoxSkin";
}

.choice-box {
  -fx-skin: "org.tuiofx.widgets.skin.ChoiceBoxSkinAndroid";
}

.toggle-button {
  -fx-skin: "org.tuiofx.widgets.skin.ToggleButtonSkinAndroid";
}

.slider {
  -fx-skin: "org.tuiofx.widgets.skin.MTSliderSkin";
}

.text-field {
  -fx-skin: "org.tuiofx.widgets.skin.TextFieldSkinAndroid";
}

.text-area {
  -fx-skin: "org.tuiofx.widgets.skin.TextAreaSkinAndroid";
  -fx-cursor: default;
}

.list-cell {
  -fx-skin: "org.tuiofx.widgets.skin.MTListCellSkin";
}