.backdrop {
  -fx-background-color: grey;
}

.window {
  -fx-border-insets: 10;
  -fx-background-color: #d6e5ff;
  -fx-background-radius: 3;
  -fx-border-radius: 3;
  -fx-border-color: white;
  -fx-border-style: solid;
  -fx-border-width: 2;
  -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
  -fx-background-insets: 10;
}